
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    max-width: 300px;
}

.formDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    height: 400px;
    border-right: 2px solid #57b846;
}

.buttonDiv{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.icons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* width: 800px; */
    padding: 30px;
}
.myIcon1{
    color: #57b846;
}
.myIcon2{
    color: #57b846;
}
.myIcon3{
    color: #57b846;
    background:
    linear-gradient(to right, #57b846 8px, transparent 4px) 0 0,
    linear-gradient(to right, #57b846 8px, transparent 4px) 0 100%,
    linear-gradient(to left, #57b846 8px, transparent 4px) 100% 0,
    linear-gradient(to left, #57b846 8px, transparent 4px) 100% 100%,
    linear-gradient(to bottom, #57b846 8px, transparent 4px) 0 0,
    linear-gradient(to bottom, #57b846 8px, transparent 4px) 100% 0,
    linear-gradient(to top, #57b846 8px, transparent 4px) 0 100%,
    linear-gradient(to top, #57b846 8px, transparent 4px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    border-radius: 15px;

}


.info{
    margin-top: 30px;
    text-align: center;
}